main{
  font-family: sans-serif;
  text-align: center;
}

button{
  font-weight: 600;
}

button:hover{
  font-weight: 800;
}

.game-frame{
  position: relative;
  margin: 6% auto;
  width: 800px;
  height: 400px;
  border: 1px dashed black;
  text-align: center;
  display: flex ;
  background-color: honeydew;
}

.gameOver{
  height: 100%;
  width: 100%;
  background-color:black;

}

.side-a{
  position: relative;
  width: 50%;
}

.scoreboxB{
  position: absolute;
  right: 0;
  bottom: 0;
  height:60px;
  width: 60px;
  background-color: blue;
}

.scoreboxA{
  position: absolute;
  left: 0;
  bottom: 0;
  height:60px;
  width: 60px;
  background-color: red;
}


.net {
  height:70px;
  width:10px;
  background: black;
  position: absolute;
  bottom:0;
  left:50%;
  transform: translate(-50%);
}

.side-b{
  position: relative;
  width: 50%;
}

.player1{
  position: absolute;
  left: 10%;
  bottom: 0;
  border-radius: 50%;
  height:50px;
  width: 50px;
  border: 2.5px solid black;
  background: linear-gradient(-6deg, #f40101 50%, ghostwhite 50%);
}

.player2{
  position: absolute;
  right: 10%;
  bottom: 0;
  border-radius: 50%;
  height:50px;
  width: 50px;
  border: 2.5px solid black;
  background: linear-gradient(108deg,#2a5fc4 33%, ghostwhite 35%, ghostwhite 65%, #f40101 51% );
}

.ball{
  position: absolute;
  left: 20%;
  border-radius: 50%;
  width: 2vw;
  height: 2vw;
  background-color: lime;
}
